@use "../variables" as *;
@use "../texts" as *;
form {
  margin: $base-margin;
  .password-container {
    span {
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      user-select: none;
    }
  }
  input {
    &[type="checkbox"] {
      transform: scale(1.5);
    }
  }
  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  label {
    span {
      opacity: 0.7;
    }
  }
}
